<div class="header">
  <div class="container">
    <img src="http://s3.amazonaws.com/codecademy-content/courses/learn-rails/img/logo-1tm.svg" width="80">
    <h1>BokenjiKan</h1>
  </div>
</div>

<div class="tags">
  <div class="container">
    <div class="cards row">
    	
      <div class="card col-xs-4">
        <h2><%= @subcategory.title %></h2>
        <% @subsubcategories.each do |sc| %>
        <p><%= sc.title %></p>
              <%= link_to "See More", subsubcategory_path(sc) %><br>
              <%= link_to "Back", category_path(sc) %>
        <% end %>

      </div>
     
    </div>
  </div>
</div>