<div class="header">
  <div class="container">
    <img src="http://s3.amazonaws.com/codecademy-content/courses/learn-rails/img/logo-1m.svg">
    <h1>Heyoooo</h1>
  </div>
</div>

<div class="messages">
  <div class="container">
  
    <!-- Your code here -->
  <% @procedure.each do |p| %> 
    <div class="message"> 
      <p class="content"><%= p.content %></p> 
      <p class="time"><%= p.created_at %></p> 
    </div> 
  <% end %>
  <%= link_to 'New Message', "procedures/new" %>
  </div>
</div>