<div class="header">
  <div class="container">
    <img src="http://s3.amazonaws.com/codecademy-content/courses/learn-rails/img/logo-1tm.svg" width="80">
    <h1>BokenjiKan</h1>
  </div>
</div>

<div class="tags">
  <div class="container">
    <div class="cards row">
    	
      <div class="card col-xs-4">
        <h2><%= @subsubcategory.title %></h2>
        <% @procedures.each do |sc| %>
        <p><%= sc.title %></p>

        <% end %>

      </div>
     
    </div>
  </div>
</div>